#
# pin constraints
#
NET DIP_Switches_TRI_I[0] LOC = "AB17"  |  IOSTANDARD = "LVCMOS25";
NET DIP_Switches_TRI_I[1] LOC = "AC16"  |  IOSTANDARD = "LVCMOS25";
NET DIP_Switches_TRI_I[2] LOC = "AC17"  |  IOSTANDARD = "LVCMOS25";
NET DIP_Switches_TRI_I[3] LOC = "AJ13"  |  IOSTANDARD = "LVCMOS25";
NET GPIO_SWs_TRI_IO[0] LOC = "AK25"  |  IOSTANDARD = "LVCMOS25";
NET GPIO_SWs_TRI_IO[1] LOC = "K15"  |  IOSTANDARD = "LVCMOS15";
NET GPIO_SWs_TRI_IO[2] LOC = "R27"  |  IOSTANDARD = "LVCMOS25";
NET LEDs_3Bits_TRI_O[0] LOC = "Y21"  |  IOSTANDARD = "LVCMOS25";
NET LEDs_3Bits_TRI_O[1] LOC = "G2"  |  IOSTANDARD = "LVCMOS15";
NET LEDs_3Bits_TRI_O[2] LOC = "W21"  |  IOSTANDARD = "LVCMOS25";
#
# additional constraints
#

